**/node_modules/*
**/*.min.js
**/*.map.js
package.json
**/libs/*
**/cache/*
**/output/*
**/.cache/*
**/templates/*
.eslintcache
.eslintignore
.gitattributes
.gitignore
.prettierignore
.eslintrc
NuGet.Config
yarn.lock
README.md
/build
/public
coverage-ts
/stories/*
